* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', Sans-Serif;
  font-weight: 400;
}

@font-face {
  font-family: "Icon-Font";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../font/Flaticon.woff") format("woff"), url("../font/Flaticon.ttf") format("truetype"), url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-font-facebook:before {
  content: "\f100";
}

.icon-font-google-plus:before {
  content: "\f101";
}

.icon-font-send:before {
  content: "\f102";
}

.icon-font-vimeo:before {
  content: "\f103";
}

.icon-font-youtube:before {
  content: "\f104";
}

.Btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #FFB300;
  color: white;
  width: 200px;
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.5s;
}

.Btn:hover {
  background-color: #ffbd0a;
  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: white;
}

.ul-clear {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.header {
  background-image: url("../img/back-familia-feliz-recuerdos02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid #FFB300;
}

.header-innner {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-innner::after {
  content: url(../img/promocion02.png);
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  zoom: 0.8;
  height: calc(100% - 150px);
  background: rgba(255, 255, 255, 0.5);
  padding-top: 150px;
  zoom: 0.7;
}

.header-top {
  display: block;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
  z-index: 9;
}

.header-top img {
  width: 200px;
  margin: 0px auto;
  display: block;
}

.header-top .social-contact {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}

.header-top .social-contact li {
  display: inline-block;
}

.header-top .social-contact li:nth-child(4) {
  display: block;
  margin-top: 15px;
}

.header-top .social-contact .ico-vimeo,
.header-top .social-contact .ico-youtube,
.header-top .social-contact .ico-facebook,
.header-top .social-contact .ico-google-plus {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.header-top .social-contact .ico-vimeo:before,
.header-top .social-contact .ico-youtube:before,
.header-top .social-contact .ico-facebook:before,
.header-top .social-contact .ico-google-plus:before {
  font-family: "Icon-Font";
  font-size: 1.4rem;
}

.header-top .social-contact .ico-vimeo:before {
  content: '\f103';
}

.header-top .social-contact .ico-youtube {
  margin: 0px 5px 0px 10px;
}

.header-top .social-contact .ico-youtube:before {
  content: '\f104';
}

.header-top .social-contact .ico-facebook {
  margin: 0px 10px 0px 5px;
}

.header-top .social-contact .ico-facebook:before {
  content: '\f100';
}

.header-top .social-contact .ico-google-plus:before {
  content: '\f101';
}

.header-top .social-contact .phone {
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header-infoMain {
  padding: 30px 0px;
  text-align: center;
  margin: auto auto 0px auto;
  z-index: 9;
}

.header-infoMain h1 {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 0px 10px 0px;
}

.header-infoMain p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.oferta-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.oferta-box img {
  width: 140px;
}

.icon-more {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 400px) {
  .header-innner::after {
    content: url(../img/promocion02.png);
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    zoom: 0.8;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 90px;
  }
}

@media screen and (min-width: 600px) {
  .header-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 20px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-top img {
    width: 200px;
    margin: 0px;
  }
  .header-top .social-contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 15px;
  }
  .header-top .social-contact li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-top .social-contact li:nth-child(4) {
    margin-top: 0px;
  }
  .header-top .social-contact .phone {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;
  }
  .oferta-box {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px 0px 30px 0px;
  }
  .oferta-box img {
    width: 160px;
  }
  .icon-more {
    margin: 0px 50px;
  }
  .header-infoMain {
    padding: 40px 0px 50px 0px;
    text-align: center;
  }
  .header-infoMain h1 {
    font-size: 1.5rem;
    margin: 25px 0px 10px 0px;
  }
}

.section-moreInfo {
  text-align: center;
}

.section-moreInfo .banderilla {
  background-color: #FFB300;
  width: 230px;
  display: inline-block;
  position: relative;
  padding: 40px 0px;
  text-align: center;
  margin: 0px auto;
}

.section-moreInfo .banderilla:before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 100%;
  border-top: 30px solid #FFB300;
  border-bottom: 50px solid transparent;
  border-left: 115px solid transparent;
  z-index: 1;
  right: 0px;
}

.section-moreInfo .banderilla:after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 100%;
  border-top: 30px solid #FFB300;
  border-bottom: 50px solid transparent;
  border-right: 115px solid transparent;
  z-index: 1;
  left: 0px;
}

.section-moreInfo .banderilla h3 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0px;
}

.section-moreInfo .banderilla .precio-actual-number {
  font-size: 4rem !important;
  margin: 5px 0px;
}

.section-moreInfo .banderilla .precio-actual-number:after {
  content: '.00';
  display: inline-block;
  font-size: 1.5rem;
}

.section-moreInfo .banderilla .precio-actual-number:before {
  content: 'S/.';
  display: inline-block;
  font-size: 1.5rem;
}

.section-moreInfo .banderilla .precio.anterior {
  color: #FFE0B2;
}

.section-moreInfo .promo-lienzo {
  padding: 80px 0px;
}

.section-moreInfo .promo-lienzo h3 {
  font-weight: 400;
  color: #757575;
  font-size: 1.5rem;
  display: block;
  text-transform: uppercase;
  margin: 5px;
}

.section-moreInfo .promo-lienzo img {
  width: 300px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.section-form {
  background-color: #FCFCFC;
  border-top: 1px solid #F5F5F5;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 0px;
}

.section-form h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0px;
  color: #757575;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-form form {
  max-width: 450px;
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: border-box;
  position: relative;
}

.section-form form input,
.section-form form textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0px 0px 0px 10px;
}

.section-form form input:focus,
.section-form form textarea:focus {
  border: 1px solid #FFB300;
}

.section-form form textarea {
  height: 80px;
}

.section-form form button {
  border: none;
  outline: none;
}

.mensajeEnvio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #FCFCFC;
  display: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #757575;
  font-weight: 300;
  padding: 20px;
}

.ico-envio,
.ico-envioError {
  margin-bottom: 15px;
}

.ico-envio:before,
.ico-envioError:before {
  font-family: 'Icon-Font';
  content: "\f102";
  font-size: 3.5rem;
  color: #FFB300;
}

.ico-envioError:before {
  color: #ff5757;
}

.mensajeError {
  display: none;
  background-color: #ffafaf;
  border: 1px solid #ff8181;
  color: #ff6e6e;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0px 10px 0px;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer {
  background-color: #212121;
  padding: 30px 20px;
  text-align: center;
}

.footer-inner {
  display: block;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #2c2c2c;
}

.footer-inner img {
  width: 200px;
  margin: 0px auto;
  display: block;
}

.footer-inner .social-contact {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}

.footer-inner .social-contact li {
  display: inline-block;
}

.footer-inner .social-contact li:nth-child(4) {
  display: block;
  margin-top: 15px;
}

.footer-inner .social-contact .ico-vimeo,
.footer-inner .social-contact .ico-youtube,
.footer-inner .social-contact .ico-facebook,
.footer-inner .social-contact .ico-google-plus {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.footer-inner .social-contact .ico-vimeo:before,
.footer-inner .social-contact .ico-youtube:before,
.footer-inner .social-contact .ico-facebook:before,
.footer-inner .social-contact .ico-google-plus:before {
  font-family: "Icon-Font";
  font-size: 1.4rem;
}

.footer-inner .social-contact .ico-vimeo:before {
  content: '\f103';
}

.footer-inner .social-contact .ico-youtube {
  margin: 0px 5px 0px 10px;
}

.footer-inner .social-contact .ico-youtube:before {
  content: '\f104';
}

.footer-inner .social-contact .ico-facebook {
  margin: 0px 10px 0px 5px;
}

.footer-inner .social-contact .ico-facebook:before {
  content: '\f100';
}

.footer-inner .social-contact .ico-google-plus:before {
  content: '\f101';
}

.footer-inner .social-contact .phone {
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.copy-Right h4 {
  font-size: 0.8rem;
  color: #626262;
  font-weight: 300;
  margin: 0px;
}

.copy-Right h5 {
  font-size: 0.7rem;
  color: #424242;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
}

.copy-Right h5 a {
  color: #424242 !important;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .footer-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .footer-inner img {
    width: 200px;
    margin: 0px;
  }
  .footer-inner .social-contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 15px;
  }
  .footer-inner .social-contact li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-inner .social-contact li:nth-child(4) {
    margin-top: 0px;
  }
  .footer-inner .social-contact .phone {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #BDBDBD;
  }
}
