footer.footer
    div.footer-inner
        img(src="img/logo-recuerdos.svg", alt="Logo Recuerdos")
        
        ul.social-contact.ul-clear
            li: a(href="//vimeo.com/recuerdosfilmacion"  target="_blank").ico-vimeo
            li: a(href="//www.youtube.com/channel/UC2VaIp7Na60-rsu-wqd0N1Q" target="_blank").ico-youtube
            li: a(href="//www.facebook.com/recuerdosfilmacion"  target="_blank").ico-facebook
            li: a(href="#").ico-google-plus
            li: a(href="#").phone Cel.: 996847572
    div.copy-Right
        h4 Todos los Dereches Reservados. Recuerdos.
        h5 Hecho por 
            a(href="//www.michaelcardoza.com" target="_blank") Michael Cardoza
        
        
