header.header
    
    div.header-innner
        
        div.header-top
            
            img(src="img/logo-recuerdos.svg", alt="Logo Recuerdos")
            
            //- ul.social-contact.ul-clear
            //-     li: a(href="//vimeo.com/recuerdosfilmacion" target="_blank").ico-vimeo
            //-     li: a(href="//www.youtube.com/channel/UC2VaIp7Na60-rsu-wqd0N1Q" target="_blank").ico-youtube
            //-     li: a(href="//www.facebook.com/recuerdosfilmacion" target="_blank").ico-facebook
            //-     li: a(href="#"  target="_blank").ico-google-plus
            //-     li: a(href="#").phone Cel.: 996847572
                
        div.header-infoMain
            
            //- div.oferta-box
            //-     img.stiker-01(src="img/stikerts-01.svg")
            //-     div.icon-more +
            //-     img.stiker-02(src="img/stikerts-02.svg")
                    
            //- h1 Oferta en todas las sesiones de studio.
            //- p *Solo por este mes.
            
            //- a(href="#contactar").Btn Contactar
            
