head
	meta(charset="utf-8")
	title Recuerdos | Fotografía y Filmación de Bodas
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description" content="foto y video de bodas, has que esos recuerdos inolvidables permanezcan por el tiempo, Fotografia y video profesional para bodas, quinceaños, shower, cumpleaños, etc.")
	meta(name="robots" content="index, follow")
		
	<!--Meta Tag for Facebook-->
	meta(property="og:url" content="http://www.recuerdodebodas.com")
	meta(property="og:type" content="Website")
	meta(property="og:title" content="titulos")
	meta(property="og:description" content="foto y video de bodas, has que esos recuerdos inolvidables permanezcan por el tiempo, Fotografia y video profesional para bodas, quinceaños, shower, cumpleaños, etc.")
	meta(property="og:image" content="ubicacion de imagen")
		
	<!--Meta Tag for otro-->
	<!--Meta Tag for otro-->
	<!--Meta Tag for otro-->
	
	link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css')
	link(rel="stylesheet", href="css/normalize.min.css")
	link(rel="stylesheet", href="css/main.css")
