*{
	box-sizing: border-box;
}

html,body{
	font-size : 14px;
	width     : 100%;
	height    : 100%;
}

body{
	font:{
		family : 'Roboto', Sans-Serif;
		weight : 400;
	}
}

@import '_include-scss/_icon-font';
@import '_include-scss/_botones';
@import '_include-scss/_Style-Generales';
@import '_include-scss/_header';
@import '_include-scss/_section-moreInfo';
@import '_include-scss/_section-form';
@import '_include-scss/_footer';
