.Btn{
    display          : inline-block;
    height           : 40px;
    line-height      : 40px;
    border-radius    : 3px;
    background-color : #FFB300;
    color            : white;
    width            : 200px;
    font-size        : 1.2rem;
    font-weight      : 300;
    transition       : all 0.5s;

    &:hover{
        background-color : #FFB300 + 10%;
        transition       : all 0.5s;
    }
}
