.footer{
    background-color : #212121;
    padding          : 30px 20px;
    text-align       : center;
    &-inner{
        display     : block;
        width       : 100%;
        max-width   : 1300px;
        box-sizing  : border-box;
        margin      : 0px auto;
        text-align  : center;
        padding-top : 10px;
        border-bottom: 1px solid #2c2c2c;
        img{
            width   : 200px;
            margin  : 0px auto;
            display : block;
        }
        .social-contact{
            display     : inline-block;
            text-align  : center;
            padding-top : 20px;
            li{
                display: inline-block;
                &:nth-child(4){
                    display: block;
                    margin-top: 15px;
                }
            }
            .ico-vimeo,
            .ico-youtube,
            .ico-facebook,
            .ico-google-plus{
                display     : inline-block;
                height      : $space-icon;
                line-height : $space-icon;
                width       : $space-icon;
                text-align  : center;

                &:before{
                    font-family : "Icon-Font";
                    font-size   : 1.4rem;
                }
            }
            .ico-vimeo{
                &:before{
                    content: '\f103';
                }
            }
            .ico-youtube{
                margin: 0px 5px 0px 10px;
                &:before{
                    content: '\f104';
                }
            }
            .ico-facebook{
                margin: 0px 10px 0px 5px;
                &:before{
                    content: '\f100';
                }
            }
            .ico-google-plus{
                &:before{
                    content: '\f101';
                }
            }
            .phone{
                width          : 100%;
                font-weight    : 300;
                font-size      : 1.2rem;
                letter-spacing : 1px;
            }
        }
    }
}
.copy-Right{
    h4{
        font-size   : 0.8rem;
        color       : #626262;
        font-weight : 300;
        margin: 0px;
    }
    h5{
        font-size   : 0.7rem;
        color       : #424242;
        font-weight : 300;
        margin: 10px 0px 0px 0px;
        a{
            color           : #424242 !important;
            text-decoration : underline;
        }
    }
}
@media screen and (min-width : 600px){
    .footer-inner{
        display : flex;
        padding : 0px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        img{
            width: 200px;
            margin: 0px;
        }
        .social-contact{
            display     : flex;
            align-items: center;
            text-align  : center;
            padding-top : 15px;
            li{
                display: flex;
                align-items: center;
                &:nth-child(4){
                    margin-top: 0px;
                }
            }
            .phone{
                margin-left  : 10px;
                padding-left : 10px;
                border-left  : 1px solid #BDBDBD;
            }
        }
    }
}
