$space-icon: 30px;

.header{
	background-image    : url('../img/back-familia-feliz-recuerdos02.png');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
	width               : 100%;
	box-sizing          : border-box;
	border-bottom       : 5px solid #FFB300;
	&-innner{
		width            : 100%;
		height           : 80vh;
		box-sizing       : border-box;
		padding          : 10px 0px 0px 0px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		flex-direction: column;
		&::after{
		    content: url(../img/promocion02.png);
		    display: inline-block;
		    position: absolute;
		    right: 0px;
		    top: 0px;
		    zoom: 0.8;
		    height: calc(100% - 150px);
		    background: rgba(255, 255, 255, 0.5);
		    padding-top: 150px;
		    zoom: 0.7;
		}
	}
	&-top{
		display     : block;
		width       : 100%;
		max-width   : 1300px;
		box-sizing  : border-box;
		margin      : 0px auto;
		text-align  : center;
		padding-top : 10px;
		z-index: 9;
		img{
			width   : 200px;
			margin  : 0px auto;
			display : block;
		}
		.social-contact{
			display     : inline-block;
			text-align  : center;
			padding-top : 20px;
			li{
				display: inline-block;
				&:nth-child(4){
					display    : block;
					margin-top : 15px;
				}
			}
			.ico-vimeo,
			.ico-youtube,
			.ico-facebook,
			.ico-google-plus{
				display     : inline-block;
				height      : $space-icon;
				line-height : $space-icon;
				width       : $space-icon;
				text-align  : center;

				&:before{
					font-family : "Icon-Font";
					font-size   : 1.4rem;
				}
			}
			.ico-vimeo{
				&:before{
					content: '\f103';
				}
			}
			.ico-youtube{
				margin: 0px 5px 0px 10px;
				&:before{
					content: '\f104';
				}
			}
			.ico-facebook{
				margin: 0px 10px 0px 5px;
				&:before{
					content: '\f100';
				}
			}
			.ico-google-plus{
				&:before{
					content: '\f101';
				}
			}
			.phone{
				width          : 100%;
				font-weight    : 300;
				font-size      : 1.2rem;
				letter-spacing : 1px;
			}
		}
	}
	&-infoMain{
		padding    : 30px 0px;
		text-align : center;
		margin: auto auto 0px auto;
		z-index: 9;
		h1{
			font-weight    : 400;
			font-size      : 1.4rem;
			text-transform : uppercase;
			color          : #fff;
			margin         : 20px 0px 10px 0px;
		}
		p{
			color         : white;
			font-size     : 1rem;
			font-weight   : 300;
			margin-bottom : 20px;
		}
	}
}
.oferta-box{
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;
	img{
		width: 140px;
	}
}
.icon-more{
	font-size   : 6rem;
	font-weight : 600;
	color       : #fff;
}

@media screen and (min-width: 400px) {
	.header{
		&-innner{
			&::after{
				content: url(../img/promocion02.png);
				display: inline-block;
				position: absolute;
				right: 0px;
				top: 0px;
				zoom: 0.8;
				height: 100%;
				background: rgba(255, 255, 255, 0.5);
				padding-top: 90px;
			}
	}
	}
	
}
@media screen and (min-width : 600px){
	.header-top{
		display         : flex;
		padding         : 0px 20px;
		justify-content : space-between;
		align-items     : flex-start;

		img{
			width  : 200px;
			margin : 0px;
		}
		.social-contact{
			display     : flex;
			align-items : center;
			text-align  : center;
			padding-top : 15px;
			li{
				display     : flex;
				align-items : center;
				
				&:nth-child(4){
				margin-top  : 0px;
				}
			}
			.phone{
				margin-left  : 10px;
				padding-left : 10px;
				border-left  : 1px solid #fff;
			}
		}
	}
	.oferta-box{
		flex-direction : row;
		margin         : 50px 0px 30px 0px;
		img{
			width: 160px;
		}
	}
	.icon-more{
		margin: 0px 50px;
	}
	.header-infoMain{
		padding    : 40px 0px 50px 0px;
		text-align : center;
		h1{
			font-size : 1.5rem;
			margin    : 25px 0px 10px 0px;
		}
	}
}
