@font-face {
font-family: "Icon-Font";
src: url("../font/Flaticon.eot");
src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
   url("../font/Flaticon.woff") format("woff"),
   url("../font/Flaticon.ttf") format("truetype"),
   url("../font/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

.icon-font-facebook:before { content: "\f100"; }
.icon-font-google-plus:before { content: "\f101"; }
.icon-font-send:before { content: "\f102"; }
.icon-font-vimeo:before { content: "\f103"; }
.icon-font-youtube:before { content: "\f104"; }
