.section-moreInfo{
    text-align: center;
    .banderilla{
        background-color : #FFB300;
        width            : 230px;
        display          : inline-block;
        position         : relative;
        padding          : 40px 0px;
        text-align       : center;
        margin           : 0px auto;
        &:before{
            display       : inline-block;
            position      : absolute;
            content       : '';
            top           : 100%;
            border-top    : 30px solid #FFB300;
            border-bottom : 50px solid transparent;
            border-left   : 115px solid transparent;
            z-index       : 1;
            right         : 0px;
        }
        &:after{
            display       : inline-block;
            position      : absolute;
            content       : '';
            top           : 100%;
            border-top    : 30px solid #FFB300;
            border-bottom : 50px solid transparent;
            border-right  : 115px solid transparent;
            z-index       : 1;
            left          : 0px;
        }
        h3{
            color       : white;
            font-weight : 500;
            font-size   : 1.5rem;
            margin      : 0px;
        }
        .precio-actual-number{
            font-size: 4rem !important;
            margin: 5px 0px;
        }
        .precio-actual-number:after{
            content: '.00';
            display: inline-block;
            font-size: 1.5rem;
        }
        .precio-actual-number:before{
            content: 'S/.';
            display: inline-block;
            font-size: 1.5rem;
        }
        .precio.anterior{
            color: #FFE0B2;
        }
    }
    .promo-lienzo{
        padding: 80px 0px;
        h3{
            font-weight    : 400;
            color          : #757575;
            font-size      : 1.5rem;
            display        : block;
            text-transform : uppercase;
            margin: 5px;
        }
        img{
            width      : 300px;
            box-shadow : 0px 8px 20px rgba(0,0,0,0.3);
            margin-top : 10px;
        }
    }
}
