.section-form{
	background-color : #FCFCFC;
	border-top       : 1px solid #F5F5F5;
	width            : 100%;
	box-sizing       : border-box;
	text-align       : center;
	padding          : 40px 0px;
	h3{
		text-transform : uppercase;
		font-size      : 1.2rem;
		margin         : 0px;
		color          : #757575;
		font-weight    : 400;
		margin-bottom  : 20px;
	}
	form{
		max-width  : 450px;
		margin     : 0px auto;
		padding    : 0px 20px;
		box-sizing : border-box;
		position   : relative;
		input,
		textarea{
			width            : 100%;
			display          : block;
			box-sizing       : border-box;
			margin-bottom    : 20px;
			background-color : #fff;
			border           : 1px solid #E0E0E0;
			border-radius    : 3px;
			height           : 40px;
			line-height      : 40px;
			outline          : none;
			padding          : 0px 0px 0px 10px;
			&:focus{
				border: 1px solid #FFB300;
			}
		}
		textarea{
			height: 80px;
		}
		button{
			border  : none;
			outline : none;
		}
	}
}
.mensajeEnvio{
	position         : absolute;
	width            : 100%;
	height           : 100%;
	top              : 0px;
	left             : 0px;
	background-color : #FCFCFC;
	display          : none;
	justify-content  : center;
	align-items      : center;
	flex-direction   : column;
	color            : #757575;
	font-weight      : 300;
	padding          : 20px;
}
.ico-envio,
.ico-envioError{
	margin-bottom: 15px;
}
.ico-envio:before,
.ico-envioError:before{
	font-family   : 'Icon-Font';
	content       : "\f102";
	font-size     : 3.5rem;
	color         : #FFB300;
}
.ico-envioError:before{
	color: #ff5757;
}
.mensajeError{
	display          : none;
	background-color : #ffafaf;
	border           : 1px solid #ff8181;
	color            : #ff6e6e;
	border-radius    : 3px;
	padding          : 5px;
	margin           : 5px 0px 10px 0px;
	font-size        : 0.9rem;
	font-weight      : 300;
}
