<!DOCTYPE html>
html(lang="es_ES")
	
	include _jade/_include-jade/_head.jade
	
	body
		
		include _jade/_include-jade/_header.jade
		
		//- section.section-moreInfo
		//- 	div.banderilla
		//- 		h3 OFERTA:
		//- 		h3.precio-actual-number 149
		//- 		div.precio.anterior
		//- 			span ANTES: 
		//- 			span S/.255.00
		//- 	div.promo-lienzo
		//- 		h3 De Regalo:
		//- 		h3 Lienza + foto 20 *30
		//- 		img(src="img/familia-feliz-recuerdos02.png", alt="Familia faliz en un lago | Recuerdos - Yvan Guarniz")
		
		section#contactar.section-form
			h3 llena el formulario y adquiere esta gran promoción.
			form(action="index.html")
				div#mensajeEnvio.mensajeEnvio
					span.ico-envio
					| Su mensaje fue enviado exitosamente, nos pondremos en contacto en la brevedad.
				div#mensajeEnvioError.mensajeEnvio
					span.ico-envioError
					| Opps! Lo sentimos, hubo un error de envio
				div#mensaje.mensajeError
				input(type="text", id="nombre" placeholder="Nombre y Apellido")
				input(type="email", id="email"  placeholder="Email")
				input(type="tel", id="telefono"  placeholder="Teléfono")
				textarea(id="mensaje1" placeholder="Mensaje")
				button(type="button", id="Enviar").Btn Enviar
				
		include _jade/_include-jade/_footer.jade
		
		include _jade/_include-jade/_scripts.jade
